version: "3.9"

services:
  backend:
    build: ./notificationsystem
    container_name: backend
    ports:
      - "8080:8080"
    environment:
      DB_URL: ${DB_URL}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}

  frontend:
    build: ./cns-frontend
    container_name: frontend
    ports:
      - "3000:80"
